<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Avensia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <p>Your Site is redirect to this <span style="color: #03A9F4;">https://www.avensiauae.com</span> domain</p>
            <p>Click Below button to redirect new domain.</p>
            <a style="background: #03A9F4;padding: 6px 20px;color: white;text-decoration: none;font-weight: 600;font-size: 18px;letter-spacing: 1px;border-radius: 2px;" href="https://www.avensiauae.com">Redirect</a>
        </div>
    </body>
</html>
